@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0,
  ));
}

#love-icon, #edit-loved {
  @include mat.icon-overrides((
    color: rgb(255, 79, 108),
  ));
}
