<div class="p-6 space-y-8 ml-5 mr-5">
  <!-- Loved Videos Section -->
  <section>
    <div class="flex justify-between items-center mb-6 mt-10">
      <h2 class="text-2xl font-bold text-pink-600">Loved Videos</h2>
      @if(!lovedVideos().loading && lovedVideos().data && lovedVideos().data!.videos.length > 0){
        <button matButton="tonal" color="primary" (click)="OnMoreClick('loved')"><strong>More</strong></button>
      }
    </div>
    @if (lovedVideos().loading) {
      <div class="grid grid-cols-5 gap-4 mb-20">
      @for (item of [1,2,3,4,5]; track $index) {
        <app-video-card />
      }
    </div>
    } @else if(lovedVideos().data && lovedVideos().data!.videos.length > 0){
      <div class="grid grid-cols-5 gap-4 mb-20">
      @for (video of lovedVideos().data!.videos; track video.id) {
        <app-video-card [video]="video" />
      }
    </div>
    } @else {
      <p class="text-gray-500 dark:text-gray-400 italic">No loved videos yet. Show some love to your favorite videos!</p>
    }
  </section>

  <!-- Latest Viewed Section -->
  <section>
    <div class="flex justify-between items-center mb-6 mt-10">
      <h2 class="text-2xl font-bold text-purple-600">Latest Viewed</h2>
      @if(!latestViewedVideos().loading && latestViewedVideos().data && latestViewedVideos().data!.videos.length > 0){
        <button matButton="tonal" color="primary" (click)="OnMoreClick('latest')"><strong>More</strong></button>
      }
    </div>
    @if (latestViewedVideos().loading) {
      <div class="grid grid-cols-5 gap-4 mb-20">
        @for (item of [1,2,3,4,5]; track $index) {
          <app-video-card />
        }
      </div>
    } @else if(latestViewedVideos().data && latestViewedVideos().data!.videos.length > 0){
      <div class="grid grid-cols-5 gap-4 mb-20">
        @for (video of latestViewedVideos().data!.videos; track video.id) {
          <app-video-card [video]="video" />
        }
    </div>
    } @else{
      <p class="text-gray-500 dark:text-gray-400 italic">No viewed videos yet. Start watching some videos!</p>
    }
  </section>

  <!-- Most Viewed Section -->
  <section>
    <div class="flex justify-between items-center mb-6 mt-10">
      <h2 class="text-2xl font-bold text-cyan-600">Most Viewed</h2>
      @if(!mostViewedVideos().loading && mostViewedVideos().data && mostViewedVideos().data!.videos.length > 0){
        <button matButton="tonal" color="primary" (click)="OnMoreClick('mostViewed')"><strong>More</strong></button>
      }
    </div>
    @if (mostViewedVideos().loading) {
      <div class="grid grid-cols-5 gap-4 mb-20">
        @for (item of [1,2,3,4,5]; track $index) {
          <app-video-card />
        }
      </div>
    } @else if(mostViewedVideos().data && mostViewedVideos().data!.videos.length > 0){
      <div class="grid grid-cols-5 gap-4 mb-20">
        @for (video of mostViewedVideos().data!.videos; track video.id) {
          <app-video-card [video]="video" />
        }
      </div>
    } @else{
      <p class="text-gray-500 dark:text-gray-400 italic">No videos available. Check back later!</p>
    }
  </section>

  <!-- Top Tags Section -->
  <section>
    <h2 class="text-xl font-bold mb-4 dark:text-gray-100">Top Tags</h2>
    <div class="flex flex-wrap gap-2">
      @if (topTags().loading) {
        @for (item of [1,2,3,4,5,6,7,8,9,10]; track $index) {
          <div class="h-8 w-20 bg-gray-300 dark:bg-gray-700 rounded-full animate-pulse"></div>
        }
      } @else {
        @for (tag of topTags().data; track tag.name) {
        <a
          [routerLink]="[searchPageApi]"
          [queryParams]="{ currentPageNumber: 1 }"
          [state]="tagState(tag.name)"
          target="_blank"
          (click)="onTagClick(tag.name)"
          class="px-3 py-1.5 rounded-full bg-orange-500 hover:bg-orange-400 text-white cursor-pointer transition-colors">
            <span class="font-bold">{{ tag.name }}</span>: <span class="italic">{{ tag.count }}</span>
        </a>
        }
      }
    </div>
  </section>
</div>
